lib/free_RL_exploration/models/
lib/free_RL_exploration/configs/
lib/free_RL_exploration/old/
lib/fortier_exploration/models/
script_train_2.py
models/*
try.py
__pycache__/
trash/
*.pyc
*.pyo
*.pyd
*.swp
*.joblib
venv/
.venv/
video
results/
